.container {
    display: flex;
    background-color: #2e2e2e;
    padding: 1rem;
    border-radius: 8px;
    min-height: 300px;
    border: 2px dashed #646cff;
}

.item:nth-child(2){
    background-color: red;
}

.item {
  background-color: #646cff;
  color: white;
  padding: 1.5rem;
  border-radius: 4px;
  font-weight: bold;
  text-align: center;
  min-width: 80px;
  width: 10%;
  height: 10%;
}

.direction-column {
    flex-direction: column;
    gap: 20px;
}

